.pull-right {
	float: right;
}

.post-list > li {
	margin-bottom: 25px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #888;
	padding-left: 20px;
}

.CodeRay {
	width: 100%;
}

.highlighter-coderay {
	overflow-x: scroll;
}
